@model dys2.Areas.Editor.Models.MailEkle
@{
    ViewBag.Title = "BolumEditoruAta";
    Layout = "~/Areas/Editor/Views/Shared/_AdminLayout.cshtml";
}

<h2>BolumEditoruAta</h2>


@using (Html.BeginForm("BolumEditorAta", "EditorYonetim", FormMethod.Post))
{
        
    @Html.TextBoxFor(m => m.BolumEditoruMail)
    <input type="hidden" name="makaleid" value=@ViewBag.Id />
    <input type="submit" />
}
