@model dys2.Models.Makale
@{
    ViewBag.Title = "DosyaAc";
    Layout = "~/Areas/BicimDenetleyici/Views/Shared/_AdminLayout.cshtml";
}
<h2>DosyaAc</h2>
<a href="/pdfs/@Model.DosyaIsmi" target="_blank">
    <img src="pdfs/pdficon.pdf">
</a>


