@model dys2.Areas.Admin.Models.RolKullaniciEkleModel
@{
    ViewBag.Title = "RolKullaniciEkle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>RolKullaniciEkle</h2>

@using (Html.BeginForm("RolKullaniciEkle", "RolYonetim", FormMethod.Post))
{
    @Html.LabelFor(m => m.KullaniciAdi)    @Html.DropDownListFor(m => m.KullaniciAdi, new SelectList(ViewBag.Kullanicilar, "ID","UserName"))//ok

    <br />
    @Html.LabelFor(m => m.RolAdi) @Html.DropDownListFor(m => m.RolAdi, new SelectList(ViewBag.Roller, "ID", "Name"))
    <br />
    <input type="submit" />
}